.env

# deprecated BambooHR json org chart
employees.json

# intermediary output from the report
leave.tsv

# BambooHR org chart csv export
employees.csv

# File with people to be removed
remove_people.csv

# .DS_Store
.DS_Store